body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #666;
}

h1,
h2,
h3 {
  color: #222;
}

.container {
  width: 64rem;
  margin: 0 auto;
}

ul.list {
  list-style: none;
  border: solid 1px #f6f6f6;
  margin-left: 0;
  padding-left: 0;
}

ul.list li {
  padding: 1rem;
  border-bottom: solid 1px #f6f6f6;
  padding-right: 2rem;
  position: relative;
  overflow: hidden;
}

ul.list p {
  padding: 0;
  margin: 0;
}

ul.list h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

ul.list img {
  float: left;
  margin-right: 1rem;
}

ul.list .fa {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
